.container_input {
    position: relative;
    margin-bottom: 26px;
    width: 100%;
    /*border: 1px solid black;*/
}

/*.container_input label {
    display: block;
    padding: 0 0 6px 6px;
    font-size: 16px;
    color:black;
}*/

.container_input input {
    font-size: 18px;
color: black;
border: 1px solid rgba(18, 20, 23, 0.1);
    border-radius: 12px;
padding: 16px 0 16px 18px;
    width: 438px;
    /*height: 54px;*/
}

.container_input span {
    display: block;
        position: absolute;
        top: 100%;
        width: 100%;
        padding-left: 6px;
        font-size: 16px;
        color: red;

}
