.Sec {
margin: 0 auto;
    padding: 0 64px;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.ContainerHome {
display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
        background-size: cover;
    height: 100vh;
           
}

.TextInf {
border-radius: 30px;
    width: 720px;
    height: 530px;
    background-color: var(--back-div);
    padding-top: 98px;
    padding-left: 128px;
}

.Zag {
    font-family: var(--font-family);
        font-weight: 500;
        font-size: 48px;
        line-height: 1.17;
        letter-spacing: -0.02em;
        color: var(--text-color);
}


.Embark{
    font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.37;
        letter-spacing: -0.02em;
        color: var(--text-color);
        margin-top: 32px;
        width: 471px;
}


.ButtonStarted{border-radius: 12px;
padding: 16px 88px;
width: 272px;
height: 60px;
background: var(--color-border);
margin-top: 64px;
font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.56;
    color: var(--text-color);
    border:none;
    box-sizing: border-box;
}


.Img {
width: 568px;
height: 530px;
}


.Experience{
border: 1.50px dashed #f4c550;
    border-radius: 30px;    
    width: 1312px;
    height: 116px;
    display: flex;
justify-content: space-evenly;
}
.SpanZal {
    font-style: italic;
        font-weight: 400;
        position: relative;
        z-index: 10;
        padding-left: 0.3rem;
}

.divExp {
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
}


.H2 {
    font-family: var(--font-family);
        font-weight: 500;
        font-size: 28px;
        line-height: 1.14;
        letter-spacing: -0.02em;
        color: var (--text-color);
}

.Span {
    width: 96px;
}
